@model  SelectList


<br />
<div class="container-fluid">
    <div class="row">

        <div id="asignatario">
            <div class="col-sm-1">Asignar a:</div>
            
            <div class="col-sm-2">@Html.DropDownList("Usuarios",Model)</div>
        </div>

       
    </div>
</div>
